In [60]:
import numpy as np
import pandas as pd

In [61]:
dataset = pd.read_csv(r'C:\Users\abhis\Credit-Card-Fraud-Detection\creditcard.csv')

In [62]:
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [63]:
dataset.shape

(284807, 31)

In [64]:
dataset.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [65]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [66]:
dataset.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,3.918649e-15,5.682686e-16,-8.761736e-15,2.811118e-15,-1.552103e-15,2.040130e-15,-1.698953e-15,-1.893285e-16,-3.147640e-15,...,1.473120e-16,8.042109e-16,5.282512e-16,4.456271e-15,1.426896e-15,1.701640e-15,-3.662252e-16,-1.217809e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [67]:
dataset.Class.value_counts()

0    284315
1       492
Name: Class, dtype: int64

Imbalanced Dataset

In [68]:
dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Imbalanced data

In [69]:
x = dataset.drop('Class',axis = 1)
y = dataset['Class']

In [70]:
x.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [71]:
y.sample(10)

68848     0
52909     0
221792    0
203762    0
92847     0
248163    0
93784     0
188120    0
107762    0
130002    0
Name: Class, dtype: int64

In [72]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state = 2)

In [73]:
x_train.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
136700,81827.0,-0.626902,1.172790,1.750623,0.868050,0.015424,-0.771009,1.017371,-0.533478,-0.424700,...,0.017828,0.070241,0.369148,-0.063796,0.734099,-0.301282,-0.502040,-0.375145,-0.081215,19.99
43219,41420.0,-0.006068,-2.885932,-0.764538,0.091419,-1.687394,-0.859819,0.624534,-0.416351,-0.654780,...,1.473102,0.584560,-0.003808,-0.801507,0.453660,0.474506,-0.140280,-0.157441,0.130219,751.12
18819,29792.0,-0.531514,0.611990,1.677510,1.281703,0.468128,0.025695,0.900121,-0.306788,0.252843,...,0.170019,-0.145452,0.238458,-0.073162,0.066287,-0.156348,-0.283686,-0.021930,-0.245350,20.67
174557,121967.0,1.789550,-0.556617,-1.534874,0.343963,0.202157,0.118209,-0.227615,-0.003945,0.972636,...,0.222229,-0.307981,-1.132447,0.184282,-0.424180,-0.503949,0.134031,-0.049449,0.006778,157.51
120641,75904.0,1.254183,-0.106286,-0.882852,0.308304,1.985428,3.808663,-0.684194,0.938692,0.416300,...,-0.048902,-0.137631,-0.289971,-0.132417,1.018395,0.862443,-0.282622,0.043088,0.015524,2.30

In [74]:
y_train.head()

136700    0
43219     0
18819     0
174557    0
120641    0
Name: Class, dtype: int64

In [75]:
x_test.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
225184,144140.0,-0.581460,0.950267,0.115938,-1.384767,1.388364,-1.595678,2.120867,-0.718954,-0.205211,...,-0.292792,0.153480,0.656548,-0.514192,0.077220,0.736220,-0.302469,-0.254862,-0.126279,12.82
116637,74369.0,0.686730,-0.785586,0.945092,1.476634,-1.191074,-0.193185,-0.217963,-0.011827,0.727172,...,0.388521,0.277960,0.419683,-0.314303,0.427369,0.426733,-0.285560,0.022906,0.079838,256.39
99414,67107.0,-0.848395,1.214313,0.954869,-0.030145,-0.177527,-0.851855,0.444232,0.369063,-1.005181,...,0.079630,0.205928,0.552455,-0.064845,0.590082,-0.271787,0.276440,0.217840,0.127724,16.44
217619,140965.0,-1.104465,0.616952,-0.878973,-0.312839,-0.092112,-0.020623,1.422463,0.442278,-0.406603,...,0.511897,0.265005,0.438796,0.413781,0.649776,-0.082746,0.520578,0.151103,0.216899,270.00
279878,169155.0,2.061985,-0.114758,-1.079406,0.427062,-0.229701,-1.241109,0.121975,-0.283331,0.679923,...,-0.284520,-0.299538,-0.772333,0.352777,0.021161,-0.330437,0.198512,-0.076625,-0.061905,1.29

In [76]:
y_test.head()

225184    0
116637    0
99414     0
217619    0
279878    0
Name: Class, dtype: int64

In [77]:
print(x.shape, x_train.shape, x_test.shape)

(284807, 30) (227845, 30) (56962, 30)

In [78]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=3000)

In [79]:
model.fit(x_train, y_train)

LogisticRegression(max_iter=3000)

In [80]:
from sklearn.metrics import accuracy_score

x_train_prediction = model.predict(x_train)
training_accuracy = accuracy_score(x_train_prediction, y_train)

In [81]:
training_accuracy

0.9991178213259014

In [82]:
x_test_prediction = model.predict(x_test)
test_accuracy = accuracy_score(x_test_prediction, y_test)

In [83]:
test_accuracy

0.9993504441557529

In [84]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, x_test_prediction))

[[56866    12]
 [   25    59]]

In [85]:
from sklearn.metrics import classification_report
print(classification_report(y_test, x_test_prediction))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56878
           1       0.83      0.70      0.76        84

    accuracy                           1.00     56962
   macro avg       0.92      0.85      0.88     56962
weighted avg       1.00      1.00      1.00     56962

# Balance data

In [86]:
legit = dataset[dataset['Class'] == 0]
legit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [87]:
fraud = dataset[dataset['Class'] == 1]
fraud.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1
4920,4462.0,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1
6108,6986.0,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1
6329,7519.0,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1

In [88]:
print(legit.shape)

(284315, 31)

In [89]:
print(fraud.shape)

(492, 31)

In [90]:
legit.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,...,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.0
mean,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022,0.0
std,47484.015786,1.929814,1.636146,1.459429,1.399333,1.356952,1.329913,1.178812,1.161283,1.089372,...,0.716743,0.723668,0.621541,0.605776,0.520673,0.482241,0.399847,0.329570,250.105092,0.0
min,0.000000,-56.407510,-72.715728,-48.325589,-5.683171,-113.743307,-26.160506,-31.764946,-73.216718,-6.290730,...,-34.830382,-10.933144,-44.807735,-2.836627,-10.295397,-2.604551,-22.565679,-15.430084,0.000000,0.0
25%,54230.000000,-0.917544,-0.599473,-0.884541,-0.850077,-0.689398,-0.766847,-0.551442,-0.208633,-0.640412,...,-0.228509,-0.542403,-0.161702,-0.354425,-0.317145,-0.327074,-0.070852,-0.052950,5.650000,0.0
50%,84711.000000,0.020023,0.064070,0.182158,-0.022405,-0.053457,-0.273123,0.041138,0.022041,-0.049964,...,-0.029821,0.006736,-0.011147,0.041082,0.016417,-0.052227,0.001230,0.011199,22.000000,0.0
75%,139333.000000,1.316218,0.800446,1.028372,0.737624,0.612181,0.399619,0.571019,0.326200,0.598230,...,0.185626,0.528407,0.147522,0.439869,0.350594,0.240671,0.090573,0.077962,77.050000,0.0
max,172792.000000,2.454930,18.902453,9.382558,16.875344,34.801666,73.301626,120.589494,18.709255,15.594995,...,22.614889,10.503090,22.528412,4.584549,7.519589,3.517346,31.612198,33.847808,25691.160000,0.0

In [91]:
fraud.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,...,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.0
mean,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321,1.0
std,47835.365138,6.783687,4.291216,7.110937,2.873318,5.372468,1.858124,7.206773,6.797831,2.500896,...,3.869304,1.494602,1.579642,0.515577,0.797205,0.471679,1.376766,0.547291,256.683288,0.0
min,406.000000,-30.552380,-8.402154,-31.103685,-1.313275,-22.105532,-6.406267,-43.557242,-41.044261,-13.434066,...,-22.797604,-8.887017,-19.254328,-2.028024,-4.781606,-1.152671,-7.263482,-1.869290,0.000000,1.0
25%,41241.500000,-6.036063,1.188226,-8.643489,2.373050,-4.792835,-2.501511,-7.965295,-0.195336,-3.872383,...,0.041787,-0.533764,-0.342175,-0.436809,-0.314348,-0.259416,-0.020025,-0.108868,1.000000,1.0
50%,75568.500000,-2.342497,2.717869,-5.075257,4.177147,-1.522962,-1.424616,-3.034402,0.621508,-2.208768,...,0.592146,0.048434,-0.073135,-0.060795,0.088371,0.004321,0.394926,0.146344,9.250000,1.0
75%,128483.000000,-0.419200,4.971257,-2.276185,6.348729,0.214562,-0.413216,-0.945954,1.764879,-0.787850,...,1.244611,0.617474,0.308378,0.285328,0.456515,0.396733,0.826029,0.381152,105.890000,1.0
max,170348.000000,2.132386,22.057729,2.250210,12.114672,11.095089,6.474115,5.802537,20.007208,3.353525,...,27.202839,8.361985,5.466230,1.091435,2.208209,2.745261,3.052358,1.779364,2125.870000,1.0

In [92]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [93]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [94]:
legit_sample = legit.sample(492)

In [95]:
df = legit_sample.append(fraud)

C:\Users\abhis\AppData\Local\Temp\ipykernel_12028\917576674.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = legit_sample.append(fraud)

In [96]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
54054,46269.0,1.058896,-0.035216,1.166125,1.234693,-0.737172,0.058494,-0.519401,0.142747,0.411004,...,0.158408,0.458669,-0.014264,0.085758,0.264157,-0.337097,0.073666,0.044743,45.00,0
166610,118198.0,1.808886,-0.699902,-1.411927,-0.101256,0.479882,1.049000,-0.329081,0.385855,1.046042,...,-0.055587,-0.008416,0.175069,-1.647141,-0.286040,0.021527,0.002425,-0.076125,60.00,0
5611,5787.0,-0.490856,0.900642,2.202265,1.070307,-0.234843,0.316338,0.677440,-0.351172,2.076719,...,-0.169060,0.538781,-0.312769,-0.007809,-0.026686,-0.235655,0.211815,-0.198496,60.50,0
219447,141738.0,-0.568577,-0.861170,0.403410,-1.523832,1.000164,-0.321395,-0.187552,0.055199,-1.223819,...,-0.146793,-0.147169,0.159933,-1.081195,-0.839637,0.458948,0.144673,0.218367,48.70,0
220751,142290.0,-0.007698,1.701803,-0.543714,3.913924,2.136757,0.697005,1.493944,-0.566036,-2.023150,...,0.106773,0.947187,0.032120,0.112722,-1.076367,0.228878,0.085537,-0.063774,3.75,0

In [97]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [98]:
df.shape

(984, 31)

In [99]:
df.sample(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
247968,153750.0,2.097544,-1.457647,0.171555,-0.705495,-1.656513,0.403474,-1.844120,0.398192,1.043403,...,0.137065,0.608866,0.189058,-0.502603,-0.363850,-0.173625,0.047724,-0.056033,2.00,0
23308,32686.0,0.287953,1.728735,-1.652173,3.813544,-1.090927,-0.984745,-2.202318,0.555088,-2.033892,...,0.262202,-0.633528,0.092891,0.187613,0.368708,-0.132474,0.576561,0.309843,0.00,1
35868,38301.0,1.247538,0.392733,-0.103613,1.014204,0.149516,-0.768676,0.449305,-0.302601,-0.209202,...,-0.040309,-0.085369,-0.184533,-0.098139,0.810131,-0.331614,0.003166,0.017126,27.00,0
53794,46149.0,-1.346509,2.132431,-1.854355,2.116998,-1.070378,-1.092671,-2.230986,1.036425,-1.895516,...,0.609508,0.202874,-0.060791,-0.186733,-0.017401,-0.283751,0.395451,0.233139,1.00,1
22534,32295.0,-0.363108,1.149144,1.433851,0.137717,-0.120945,-1.169168,0.724030,-0.099567,-0.431940,...,-0.241533,-0.621142,0.023018,0.663107,-0.201086,0.051352,0.246900,0.101765,2.69,0
27362,34521.0,1.081234,0.416414,0.862919,2.520863,-0.005021,0.563341,-0.123372,0.223122,-0.673598,...,-0.159387,-0.305154,0.053620,0.011761,0.375146,-0.106299,0.021008,0.010559,1.52,1
205561,135812.0,-0.618657,1.250221,-2.428952,-2.309787,3.497831,2.723984,1.087790,0.621857,-0.045799,...,0.121969,0.796102,-0.214362,0.746345,-0.199863,0.063839,0.173242,-0.126043,0.77,0
83417,59840.0,-3.215382,-0.364223,-1.261883,3.794949,0.711206,-1.316476,-5.165141,0.625278,-1.582301,...,0.401341,0.152191,-0.934675,-0.256148,-0.469403,-0.282496,0.866077,-0.433466,5.91,1
98011,66480.0,1.099838,-0.923754,0.624907,-2.093966,-1.077802,0.151782,-0.921163,0.376157,2.347541,...,0.260016,1.003188,-0.123653,-0.244316,0.460810,-0.598318,0.123537,0.017404,31.52,0
176046,122606.0,2.209381,-1.421326,-0.742565,-1.455325,-1.395341,-0.846141,-1.014634,-0.326569,-1.285573,...,-0.126106,0.135047,0.181589,-0.092292,-0.205634,-0.179936,0.021200,-0.037344,60.00,0

In [100]:
df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [101]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95116.087398,0.112364,0.092705,-0.035296,0.051114,-0.011909,-0.012772,0.060288,0.004065,0.075074,...,0.032530,-0.037188,-0.007746,-0.002258,-0.004125,-0.011004,-0.007058,-0.017141,0.000883,85.812093
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [102]:
x = df.drop('Class',axis = 1)
y = df['Class']

In [103]:
x.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
54054,46269.0,1.058896,-0.035216,1.166125,1.234693,-0.737172,0.058494,-0.519401,0.142747,0.411004,...,-0.047981,0.158408,0.458669,-0.014264,0.085758,0.264157,-0.337097,0.073666,0.044743,45.00
166610,118198.0,1.808886,-0.699902,-1.411927,-0.101256,0.479882,1.049000,-0.329081,0.385855,1.046042,...,-0.272403,-0.055587,-0.008416,0.175069,-1.647141,-0.286040,0.021527,0.002425,-0.076125,60.00
5611,5787.0,-0.490856,0.900642,2.202265,1.070307,-0.234843,0.316338,0.677440,-0.351172,2.076719,...,0.346471,-0.169060,0.538781,-0.312769,-0.007809,-0.026686,-0.235655,0.211815,-0.198496,60.50
219447,141738.0,-0.568577,-0.861170,0.403410,-1.523832,1.000164,-0.321395,-0.187552,0.055199,-1.223819,...,-0.150090,-0.146793,-0.147169,0.159933,-1.081195,-0.839637,0.458948,0.144673,0.218367,48.70
220751,142290.0,-0.007698,1.701803,-0.543714,3.913924,2.136757,0.697005,1.493944,-0.566036,-2.023150,...,0.421788,0.106773,0.947187,0.032120,0.112722,-1.076367,0.228878,0.085537,-0.063774,3.75

In [104]:
y.sample(10)

58422     1
215358    0
268958    0
12070     1
7678      0
150677    1
263324    1
42473     1
140786    1
91729     0
Name: Class, dtype: int64

In [105]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state = 2)

In [106]:
x_train.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
42007,40918.0,-3.140260,3.367342,-2.778931,3.859701,-1.159518,-0.721552,-4.195342,-0.598346,-2.870145,...,0.077781,2.452339,-0.292963,-0.189330,-0.166482,0.038040,-0.015477,0.776691,0.397557,0.76
209268,137487.0,-1.542138,-0.239752,0.864387,1.412176,1.440791,-0.969347,0.184358,-0.251486,-0.048937,...,-0.555435,0.050821,0.758193,-0.771451,0.087301,0.167911,-0.287291,0.225698,0.055196,71.62
205749,135899.0,-3.161859,1.556057,-1.930349,-2.552685,-5.330130,2.789429,4.058768,0.761182,-0.013995,...,-1.585681,-0.779854,-1.301145,-0.050284,0.133271,0.637393,0.184974,0.063741,-0.631015,1012.37
131742,79720.0,1.109810,-0.140926,-0.338281,0.897381,0.145526,-0.082495,0.197632,-0.098832,0.257774,...,0.090731,0.040584,-0.126343,-0.377954,-1.015713,0.796306,-0.219787,-0.009682,0.026411,121.40
191970,129480.0,2.125595,0.035545,-2.317812,0.034462,1.055241,-0.395546,0.540030,-0.263171,-0.099312,...,-0.178275,0.110008,0.477656,-0.081962,0.120733,0.445318,0.704194,-0.117798,-0.094981,0.76

In [107]:
y_train.head()

42007     1
209268    0
205749    0
131742    0
191970    0
Name: Class, dtype: int64

In [108]:
x_test.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
228654,145599.0,-2.344762,1.251531,-1.592051,-0.195537,-0.566414,-0.105116,-1.275985,-1.469352,-0.758462,...,0.063059,-0.657079,1.764758,-0.020221,-0.434266,-0.424096,-0.099243,-0.375770,-0.139626,34.39
11343,19762.0,-14.179165,7.421370,-21.405836,11.927512,-7.974281,-2.202710,-15.471612,-0.356595,-6.380125,...,1.002764,-2.366836,1.130955,0.991153,-1.033132,-0.327179,0.634693,2.171905,-1.395288,1.00
150715,93965.0,-11.397727,7.763953,-18.572307,6.711855,-10.174216,-4.395918,-15.893788,2.083013,-4.988837,...,0.208879,0.339007,1.342923,0.239217,0.534644,-0.174965,-0.500240,-1.722060,-0.574339,11.40
491,360.0,1.295406,0.296881,0.068725,0.572690,-0.165698,-0.781113,0.030953,-0.133051,0.165737,...,-0.105915,-0.330797,-0.980511,0.071340,-0.210547,0.266631,0.129970,-0.027766,0.023851,0.89
58761,48533.0,1.243848,0.524526,-0.538884,1.209196,0.479538,-0.197429,0.049166,0.037792,0.128119,...,-0.171541,-0.051660,-0.084089,-0.192846,-0.917392,0.681953,-0.194419,0.045917,0.040136,1.00

In [109]:
y_test.head()

228654    0
11343     1
150715    1
491       0
58761     1
Name: Class, dtype: int64

In [110]:
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

In [111]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [112]:
model.fit(x_train, y_train)

LogisticRegression()

In [113]:
from sklearn.metrics import accuracy_score

x_train_prediction = model.predict(x_train)
training_accuracy = accuracy_score(x_train_prediction, y_train)

In [114]:
training_accuracy

0.9466327827191868

In [115]:
x_test_prediction = model.predict(x_test)
test_accuracy = accuracy_score(x_test_prediction, y_test)

In [116]:
test_accuracy

0.9441624365482234

In [117]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, x_test_prediction))

[[92  3]
 [ 8 94]]

In [118]:
from sklearn.metrics import classification_report
print(classification_report(y_test, x_test_prediction))

              precision    recall  f1-score   support

           0       0.92      0.97      0.94        95
           1       0.97      0.92      0.94       102

    accuracy                           0.94       197
   macro avg       0.94      0.94      0.94       197
weighted avg       0.95      0.94      0.94       197